html {
    font-size: 20px;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    background-color: #ffff99;
}



h1 {
    font-size: 100px;
    text-align: center;
    margin: 180px 300px 50px 300px;
    padding: 1rem 2rem;
    border: 6px double #000;
}

p{
    text-align: center;
}

